
<div>
    <h1>Products List </h1>
    <button (click)="onClick()">Available Products</button>

    <ng-container *ngIf="products.length > 0; else emptyList">
        <p class="product-item" *ngFor="let product of products">
            {{ product.name }} - {{ product.price | priceCurrency }} - {{ product.category}}
            <button (click)="viewDetails(product.id)">View Details</button>
        </p>
    </ng-container>
    <ng-template #emptyList>
        <p>No Products Found</p>
    </ng-template>
</div>


