.summary-box {
  background-color: #f8f9fa;
  padding: 30px 30px;
  border-radius: 25px;
  border: 1px solid #d2d2d2;
  font-weight: bold;
  color: #333;
}
li{
    padding: 10px 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}